* {
	font-family: Arial, Helvetica, sans-serif;
	/*  Verdana, Arial, Tahoma, Serif;
 */
}
a {
	text-decoration: none;
}
body {
	height: 100vh;
	/* background-image: linear-gradient(to left, #c1d0e7 0%, #f0e7df 100%); */
	background-color: rgba(85, 123, 206, 0.3);
}
